    <div class="row">
      <div class="col-8">
  <div class="login-card">

    <h2 class="page-title">New Post</h2>
    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Content:</label>
        <input class="form-input" type="text" id="post-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
    </div>
    </div>
  </div>
  
<div class="row">
  <div class="col">
<a href="/dashboard/new"> <button class="btn btn-primary" type="button">New Post</button></a>
</div>
</div>
<script src="/js/dashboard.js"></script>


