{{#each posts}}
    {{> post-update}}
{{/each}}
<div class="row">
  <div class="col">
<a href="/dashboard/new"> <button class="btn btn-primary" type="button">New Post</button></a>
</div>
</div>